<!DOCTYPE html>
<html>
<head>
	<title>my site</title>
	<!-- Latest compiled and minified CSS & JS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="//code.jquery.com/jquery.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
<% include partials/alerts %>
	<%-body%>
	<hr>
	<a href="/" class="btn btn-default">home</a>
	<a href="/profile" class="btn btn-success">profile</a>
	<%if(!currentUser) {%>
	<a href="/auth/login" class="btn btn-primary">login</a>
	<a href="/auth/signup" class="btn btn-success">signup</a>
	<%} else {%>
	<a href="/auth/logout" class="btn btn-danger">logout</a>
	<%}%>
</div>
</body>
</html>






